*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

body{
  background: #1D1D1F;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}
.contenedor{
  width: 90%;
  max-width: 800px;
  margin: auto;
}

header{
  padding: 40px 0px;

}
header .logo{
  text-align: center;
  margin-bottom: 40px;
}
header .logo h1{
  color: #e74c3c;
}
header img{
  cursor: pointer;
}
header .logo p{
  color: #fff;
}
header form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
header .barra-busqueda{
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  padding: 0px 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
}

header .categorias{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header .categorias a{
  color: #fff;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}
header .categorias a.activo{
  color: #e74c3c;
}

.grid{
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear 1s;


}

.grid.imagenes-cargadas{
  opacity: 1;
}
.item{
  position: absolute;
  display: block;
  padding: 0;
  padding: 10px;
  width: 33.333333%;
}
.item-contenido{
  position: relative;
}
.item img{
  width: 100%;
  cursor: pointer;
  vertical-align: top;
}



.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.overlay.activo{
  display: flex;
}

.overlay img{
  max-width: 100%;
}
.overlay .descripcion{
  color: #fff;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  /*
  margin-top: 5px;
  border-radius: 10px;
  max-width: 100%;
  */
}
.contenedor-img{
  position: relative;
}

.overlay #btn-cerrar-popup{
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
}

.tecnologias{
  margin-top: 30px;
  color: #fff;
  text-align: center;

}
.tecnologias h1{
  color: #e74c3c;
}
.tecnologias .recursos{
  margin-top: 30px;
  display: flex;
  font-size: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recursos .descrip{
  font-size: 15px;
}

.formulario{
  width: 100%;
  margin-top: 30px;
}
.formulario h1{
  text-align: center;
  color: #e74c3c;
}
.formulario input, textarea{
  width: 100%;
  margin-top: 30px;
  padding: 7px;
  border-radius: 8px;
  border: none;
  max-width: 100%;
  min-width: 100%;
  font-size: 15px;
}
.formulario button{
  background: #e74c3c;
  font-size: 15px;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  border: 1px solid #c0392b;
  margin-top: 30px;
}

#resp_formulario{
  text-align: center;
  margin-top: 5px;
  color: #e74c3c;
}

footer .redes-sociales{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  flex-grow: grow;
}

footer .redes-sociales a{
  display: block;
  width: 60px;
  height: 60px;
  /*background: #000;*/
  color: #fff;
  margin:20px;
  text-align: center;
  border-radius: 100px;
  transition:  .3s ease all;
}

footer .redes-sociales a i{
  font-size: 20px;
  line-height: 60px;
}
.twitter{
  background: #1da1f2;
}
.facebook{
  background: #3b5998;
}
.instagram{
  background: #c13584;
}

footer .contenedor-icono:hover a{
  animation: icono .5s ease;
}

@keyframes icono {
  from{
    transform: rotate3d(0,0,0,0);
  }

  to{
    transform: rotate3d(0,1,0, 360deg);
  }
}

footer .creado-por{
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
footer .creado-por a{ color: #e74c3c;}
footer .creado-por a:hover{ text-decoration: underline;}

@media screen and (max-width: 700px){
  .item{
    width: 50%;
  }

  header .barra-busqueda{
    width: 100%;
  }
}


/********Clase dark*************/
.dark{
  background: #fafafa;
}
.dark .logo h1{
  color: #3f3844;
}
.dark .logo p{
  color: #000;
}
.dark .categorias a{
  color: #000;
}
.dark .tecnologias h1{
  color: #000;
}

.dark .recursos{
  color: #e74c3c;
}

.dark .formulario h1{
  color: #000;
}
.dark .formulario input , textarea{
   border: 1px solid #3f3844;
}

.dark .creado-por{
  color: #000;
}
.dark header form input{
  border: 1px solid #3f3844;
}
.dark .item{
  /*
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.29);
box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.29);
*/
}
/*
#resp_formulario{
  color: #000;
}
*/

/****************************/
